html,
body {
  margin: 0;
  height: 100%;
}
#c {
  width: 100%;
  height: 100%;
  display: block;
}

.hud {
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.2);
  /* background: transparent; */
}
/* Reticle container */

#controls {
  position: absolute;
  bottom: 5%;
  z-index: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,.2);
}
#hud{
  background-color: rgba(255,255,255,.2);
  
}
.hudControls {
  position: absolute;
  color: white;
  border-radius: 5%;
  padding: 10px;
  background: rgba(255,255,255, .2);
  
}
#hudForward {
  bottom: 7%;
  left: 50%;
  width: 4rem;
}
#hudReverse {
  bottom: 1%;
  left: 50%;
  width: 4rem;
}
#hudRotateR {
  bottom: 4%;
  left: 54.5%;
  width: 4rem;
}
#hudRotateL {
  bottom: 4%;
  left: 45.5%;
  width: 4rem;
}
#hudBoost {
  bottom: 4%;
  left: 10%;
  width: 4rem;
}
#hudLock {
  bottom: 3%;
  right: 10%;
  width: 4rem;
}
#hudInteract{
  top: 48%;
  left: 38%;
  font-size: 2em;
  display: none;
}
#reticle {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Ensures the reticle does not block interaction */
  width: 150px; /* Outer circle size */
  height: 150px; /* Outer circle size */
  display: none;
  border: 5px solid white;
  border-color: #646463;
  border-radius: 90px;
  justify-content: center;
  align-items: center;
}
#toolTip {
  position: absolute;
  top: 75%;
  left: 75%;
  color: white;
  transform: translate(-50%, -50%);
  width: 250px; /* Outer circle size */
  height: 25px; /* Outer circle size */
  display: none;
  border: 5px solid white;
  background-color: black;
  justify-content: center;
  text-align: center;
  display: inline-block;
}
#toolTip:hover {
  background: linear-gradient(135deg, #999, #ccc);
  cursor: pointer;
  box-shadow: 0 0 15px rgba(200, 200, 200, 0.6);
  white-space: pre;
  /* transform: scale(1.05); */
}

.progress-bar-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#progressBar {
  width: 30%;
  margin-top: 0.5%;
  height: 2%;
}
label {
  color: white;
  font-size: 2rem;
}
.updates {
  color: red !important;
}

#inventoryDiv {
  display: none; /* no quotes */
  position: absolute;
  color: red;
  width: 40%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  h3 {
    font-size: 2rem;
  }
}

#inventory {
  display: flex;
  z-index: 1;
  /* display: none;
  position: fixed; */
  /* width: 20%; */
  width: 30%;
  height: 40%;
  /* height: 30px; */
  border: 1px solid white;
  list-style: none;
  padding: 0px;
  margin: 0px;
  justify-content: space-evenly;
}

.slot {
  display: flex;
  justify-content: space-around;
  text-align: center;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  border: 1px solid rgba(0, 0, 256, 0.9);
  width: 32.9%;
  height: 30%;
  color: black;
  background-color: rgba(0, 0, 0, 0.3);
}

img {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
